---
import Layout from "../layouts/Layout.astro";
import D from "../components/Daily.astro";
import User from "../components/User.astro";
import type { Daily } from "../api";
import { getDaily } from "../api";
let daily: Daily = await getDaily();
---

<Layout>
    <div class="space-y-6">
        <D daily={daily} />
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <User user="VeryCoolPatrick" daily={daily} />
            <User user="willx86" daily={daily} />
            <User user="user8343Sz" daily={daily} />
            <User user="user0660oo" daily={daily} />
        </div>
    </div>
</Layout>
